<section class="card w-50 p-b-5 m-2 mx-auto post-card">
  <a href="/post/{{id}}">
    <div class="card-body">
      <h5 class="card-header post-header">{{title}}</h5>
      <p class="text-end creator"> by user: {{user.username}}, on format_date </p>
      <p class="card-text post-content">{{content}}</p>
    </div>
  </a>
</section>
<section class="comments">
  {{#each comment}}
  <div class="card">
  <div class="card-header">
    {{user.username}}
  </div>
  <div class="card-body">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
  {{/each}}
</section>

<section class="card w-50 p-b-5 m-2 mx-auto">
  <form class="form new-comment-form">
  <h3 class="comment-title">Leave a comment here!</h3>
  <div class="mb-3">
    <label for="usernameInput" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="usernameInput"
      value="{{username}}"
    />
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Comment</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
  </div>
  <div class="form-label">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
  </form>
</section>

<script src="./js/comment.js"></script>